.body {
    color: white;
    background: #101113;
    font-family: sans-serif
}

.h1 {
    text-align: center;
    font-size: 20px;
}

.divs {
    
    display:flex; 
    justify-content: center;
    flex-wrap: wrap;
     

}

.divs-img {
    padding-top: 250px;
    display:flex; 
    justify-content: center;
    flex-wrap: wrap;
     

}

.divs-img2 {
    justify-content: space-between;
    display:flex; 
    flex-wrap: wrap;
     
}

.img {
    text-align: center;
    display: block;
}

.img-2 {
    padding-right: 300px;
    text-align: right;
    display: block;
}

.img-3 {
    padding-left: 300px;
    text-align: left;
    display: block;
}

.img-4 {
    text-align: left;
    display: block;
}

.span {
    background-image: linear-gradient(90deg, red, red, pink, lightblue, blue);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent
}


.span-2 {
    color: white;
    text-decoration: underline;
}

.span-email {
    background-color: #ff2d60;
    color: white;
    border-radius: 5px;
    padding: px;
}


.container-options  {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    justify-content:space-between;

}

.h2   {
    font-size: 105px;
    text-align: center;
   
}


.h2-1 {
    font-size: 35px;
    text-align: center;
}

.h2-2 {
    font-size: 55px;
    text-align: justify ;
}

.h2-3  {
    font-size: 70px;
    text-align: center;
    
}

.h3  {
    font-size: 25px;
    text-align: center;
    color:white;
    padding-bottom: 75px;
    
}

.h3-1  {
    font-size: 25px;
    text-align: center;
    color:grey;
    padding-bottom: 150px;
    
}


.container-options-1 {
    padding: 3em;
}

.container-email {
    background-color: rgb(60, 60, 60);
    color: white;
    display: flex;
    height: 80px;
    width: 600px;
    font-size: 25px;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
    
}

.card-jr {
    width: 85x;
    height: 85px;
    border-radius: 20px;
    box-shadow: 0 2px 2px white;
    overflow: hidden;
    margin: 50px;
    transition: all 0.25s;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius:15px;
    padding: 25px;
    font-size: 20px;
    text-align: center;

}

.card-jr-2 {
    width: 800px;
    height: 50px;
    border-width: 2px;
    box-shadow: 0 2px 0px white;
    box-shadow: white;
    overflow: hidden;
    transition: all 0.25s;
    text-align: justify;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    margin-right: 50em;
    border-radius:15px;
    padding: 25px;
    font-size: 25px;

}


.card-img {
    width: 500x;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    margin: 50px;
    transition: all 0.25s;
    display: inline;
    flex-direction: column;
    justify-content:space-between;
    border-radius:15px;
    padding: 25px;
    font-size: 25px;
    text-align: justify;

}


.device-card {
    width: 1800px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0 2px 2px black;
    overflow: hidden;
    margin: 50px;
    transition: all 0.25s;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius:15px;
    background-color: rgb(60, 60, 60);
    padding: 25px;
    margin: 0 auto;
}

.device-card-jr {
    width: 900px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 2px 2px black;
    overflow: hidden;
    margin: 50px;
    transition: all 0.25s;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius:15px;
    background-color: rgb(60, 60, 60);
    padding: 25px;
}

.frecuent-questions {
    width: 900px;
    height: 1500px;
    border-radius: 20px;
    box-shadow: 0 2px 2px black;
    overflow: hidden;
    margin: 50px;
    transition: all 0.25s;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius:15px;
    background-color: transparent;
    padding: 25px;
}

 
.card-title {
    font-weight: bold;
    font-size: 35px;
}

.card-p {
    color: lightslategray;
    font-size: 20px;
}

.signup-btn {
    background-color: #ff2d60;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s ease;
}

.card-customer {
    width: 600px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 2px 2px black;
    overflow: hidden;
    margin: 50px;
    transition: all 0.25s;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius:15px;
    background-color: #101113;
    padding: 25px;
}

.card-jr-3 {
    width: 250px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    overflow: hidden;
    transition: all 0.25s;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 0 auto;
    border-radius:15px;
    padding: 25px;
    font-size: 25px;
}



.p {
    font-size: 20px;
    color: rgb(180, 180, 180);
}

.p-customer {
    font-size: 20px;
    color: white;
    line-height: 200%;
}


.icon-android:before {
    content: "\eac0";

}

.icon-appleinc:before {
    content: "\eabe";
    
}
  
.icon-tux:before {
    content: "\eabd";
}

.icon-firefox:before {
    content: "\eada";
}

.icon-edge:before {
    content: "\eadc";
}

.icon-chrome:before {
    content: "\ead9";
}

.icon-share2:before {
    content: "\ea82";
}

.icon-video-camera:before {
    content: "\e914";
}

.icon-terminal:before {
    content: "\ea81";
}

.icon-checkbox-checked:before {
    content: "\ea52";
}

.icon-pencil:before {
    content: "\e905";
}

.icon-table:before {
    content: "\ea70";
}
.icon-tree:before {
    content: "\e9bc";
}

.icon-paragraph-center:before {
  content: "\ea78"; 
}

.icon-paragraph-left:before {
    content: "\ea77";
}

.icon-paragraph-center:before {
    content: "\ea78";
    
}

.icon-paragraph-right:before {
    content: "\ea79";
}