.card {
    background-color: white;
    box-shadow: 1px 1px 40px -6px; color: black;
    -webkit-box-shadow: 1px 1px 40px -6px; color: black;
    -moz-box-shadow: 1px 1px 40px -6px; color: black;
    border-radius: 20px;
    margin: 30px 20px;
    width: 700px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.card .img-container {
    padding: 5px 6px 5px 6px;
}

.card .img-container .image-top {
    border-radius: 1px;
    filter: brightness(70%) contrast(150%) saturate(0%) brightness(150%);
}

.card .title-container ,title {
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    background: lightgray;
    background: linear-gradient(to right, lightgray 0%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card .btn-container {
    padding: 0px;
    margin-bottom: 30px;
}

.card .btn-container .btn-link {
    padding: 10px 15px 10px 15px;
    background: lightgray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: all 1s ease;
}

.card .btn-link:hover {
    background: lightgray;

}

.card .description {
    font-size: 16px;
    color: grey;
}