.container {
    display: flex;
    flex-direction: row;
}

.title {
    background-color: purple;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border:5px solid white;
}

.box {
    background-color: aqua;
    color: black;
    text-align: justify;
    padding: 30px;
    border:5px solid white;
    font-size: 15px;

        
}